html {
    overflow: hidden;
    height: 100%;
    color: #bbbbbb;
}

body {
    background-color: #313335;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    height: 100%;
    box-sizing: border-box;
}

a:link {
    color: #A9B7C6;
}

a:visited {
    color: #9876AA;
}

.footer-custom {
    background-color: #3c3f41;
    font-family: monospace;
    border-width: 1px 0 1px;
    border-top-color: #555555;
    border-bottom-color: #292b2d;
}

.nav.nav-tabs > li.dropdown.active.open > a,
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a,
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover {
    background-color: #2f65ca;
}

main {
    height: 100%;
    padding: 50px 0;
    overflow: auto;
}

.container {
    color: #A9B7C6;
    background-color: #292b2d;
    border-width: 0 1px 0 1px;
    border-style: dotted;
    border-color: #555555;
}

.section-header {
    background-color: #323232;
    color: #9876AA;
    font-style: italic;
}

/*stickers customization*/
.stick{
    text-align: justify;
    color: #ecf0f1;
    opacity: 0.75;
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    border-radius: 2px;
}

.success-sticker{
    background-color: #497549;
    border: 1px solid #235e06;
}

.fail-sticker{
    background-color: #C55450;
    border: 1px solid #532B2E;
}

div#jquery-stickers
{
    z-index: 999;
}

div.stick div.exit {
    background-image: url("../images/close.png");
    width: 16px;
    height: 16px;
    margin-left: 3px;
    float: right;
    cursor: pointer;
}

i.fa-github{
    font-size: 18px;
}

/*navbar customization with help of http://work.smarchal.com/twbscolor/css/3c3f412f65caecf0f1ecf0f11*/
.navbar-default {
    background-color: #3c3f41;
    border-width: 1px 0 1px 0;
    border-top-color: #555555;
    border-bottom-color: #292b2d;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecf0f1;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #3c3f41;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecf0f1;
    background-color: #2f65ca;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #2f65ca;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #2f65ca;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecf0f1;
    background-color: #2f65ca;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecf0f1;
    background-color: #2f65ca;
}

.navbar-default .navbar-toggle {
    border-color: #2f65ca;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2f65ca;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ecf0f1;
}

.navbar-default .disabled {
    color: #555555;
}

.navbar-default ul.navbar-nav > li:hover {
    color: #ecf0f1;
    background-color: #2f65ca;
}


@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecf0f1;
        background-color: #2f65ca;
    }
}

/*modal customizaion*/
.modal-content {
    color: #bbbbbb;
    background-color: #3c3f41;
}

.modal-header {
    border-bottom: 1px solid #555555;
}

.modal-footer {
    border-top: 1px solid #292b2d;
}

.btn-primary {
    background-color: #2f65ca;
}

.btn-link:hover,
.btn-link {
    color: #bbbbbb;
}

.btn.disabled,
.btn[disabled],
.btn[disabled]:hover {
    cursor: default;
    background-color: #3c3f41;
    border: 1px solid #5c5d5d;
}


.alert {
    color: #ecf0f1;
    padding: 5px;
    background-color: #C55450;
    border: 1px solid #532B2E;
}

.form-control
{
    color: #bbbbbb;
    border-color: #5c5d5d;
    background-color: #45494a;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

/*scrollbar customization*/
.mCSB_draggerContainer {
    width: 14px;
    background-color: #3c3f41;
}

.mCSB_scrollToo {
    width: 14px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #5a5a5a;
    width: 10px;
    border-radius: 0;
}

/*util*/
.margin-right-0 {
    margin-right: 0;
}

.color-purple {
    color: #9876AA;
}

.color-orange {
    color: #CC7832;
}

p.indent0 {
    margin: 0;
}

p.indent1 {
    margin: 0;
    padding-left: 1.8em
}

p.indent2 {
    margin: 0;
    padding-left: 3.6em
}

p.indent3 {
    margin: 0;
    padding-left: 5.4em
}

p.indent4 {
    margin: 0;
    padding-left: 7.2em
}

.centered-error {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}